$themes: (
  light: (
    color-background: #fffff0,
    color-text: black,
    btn-hover: darkslategray,
    cmd-bg: #adb5bd,
    cmd-hover: darkslategray,
    btn:
      rgba(
        $color: #495057,
        $alpha: 0.4,
      ),
  ),
  dark: (
    color-background: #323437,
    color-text: ivory,
    btn-hover: darkslategray,
    cmd-bg: darkslategray,
    cmd-hover: darkviolet,
    btn:
      rgba(
        $color: dimgrey,
        $alpha: 0.4,
      ),
  ),
  monokai: (
    color-background: #272822,
    color-text: #a6e22e,
    btn-hover:
      rgba(
        $color: #fd971f,
        $alpha: 0.6,
      ),
    cmd-bg: #272822,
    cmd-hover: #f92672,
    btn:
      rgba(
        $color: #fd971f,
        $alpha: 0.3,
      ),
  ),
);
