.intro-box {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  button {
    padding: 0.66em;
  }
}

.legend {
  font-size: 10.5px;
  margin-top: 3em;
  align-self: center;
  p {
    margin: 0.4em 0;
  }
}

@media (min-width: 768px) {
  .intro-box {
    width: 500px;
  }
}
