.intro-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  button {
    padding: 0.66em;
  }
}
.start-btn {
  background: url('../assets/images/donut.png');
  height: 80px;
  width: 80px;
  margin-top: 1.6em;
  background-size: cover;
  align-self: center;
  transition: 150ms linear;
  &:hover {
    cursor: pointer;
    height: 85px;
    width: 90px;
  }
}

.legend {
  font-size: 10.5px;
  margin-top: 3em;
  align-self: center;
  p {
    margin: 0.4em 0;
  }
}

@media (min-width: 768px) {
  .intro-box {
    width: 500px;
  }
}
