.menu-modal {
  z-index: 5;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);

  form {
    background-color: darkslategray;
    border-radius: 0.25em;
    display: grid;
    grid-template-rows: 60px auto;
    overflow: auto;
    width: 500px;
    height: 300px;

    input {
      border: none;
      outline: none;
      width: 100%;
      background: none;
      padding: 0 1em;
      line-height: 1em;
      font-size: 18px;
    }

    .selections {
      overflow-y: auto;

      div {
        height: 20px;
        padding: 0 1em;
        margin: 0.2em 0;
        border: none;

        &:hover {
          cursor: pointer;
          background-color: darkviolet;
        }

        &:focus {
          background: darkviolet;
          outline: none;
        }
      }
      // div:focus {
      //   background-color: darkviolet;
      // }
    }
  }
}
