.resource-container {
  height: 80%;
  width: 360px;
  // border: 1px red solid;
  h1 {
    padding: 0.75em 0;
  }

  .sub-title {
    font-size: 17px;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
  }
}

.info-container {
  // height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tiny-text {
  font-size: 10px;
  // float: right;
}

.per-gram {
  float: right;
}

@media (min-width: 768px) {
  .resource-container {
    width: 500px;
  }
}
