.result-container {
  // border: 1px red solid;
  // height: 80%;
  width: 350px;
  display: grid;
  grid-template-rows: 100px 1fr;
  justify-content: center;

  .results {
    // border: 1px red solid;
    width: 200px;
    align-self: center;
    justify-self: center;
    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.nums {
  font-weight: 900;
  font-size: 18px;
  margin-right: 5px;
}

.legend {
  font-size: 11px;
  margin-top: 1em;

  p {
    margin: 1em;
  }
}
