.result-container {
  // border: 1px red solid;
  // height: 80%;
  width: 350px;
  display: grid;
  grid-template-rows: 100px 1fr;
  justify-content: center;

  .results {
    // border: 1px red solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70px;
    width: 200px;
    align-self: center;
    justify-self: center;
    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.goal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
  // border: 1px red solid;
  input {
    width: 75%;
  }
}

.nums {
  font-weight: 900;
  font-size: 18px;
  margin-right: 5px;
}

.legend {
  font-size: 11px;
  margin-top: 2em;

  p {
    margin: 1em;
  }
}
