.resource-container {
  width: 360px;
  h1 {
    padding: 0.7em 0;
  }

  .sub-title {
    font-size: 17px;
    font-weight: bold;
    padding-top: 0.3em;
    padding-bottom: 0.25em;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tiny-text {
  font-size: 10px;
}

.per-gram {
  float: right;
}

.description {
  padding-left: 1em;
}

@media (min-width: 768px) {
  .resource-container {
    width: 520px;
  }
}
