.resource-container {
  width: 345px;
  h2 {
    padding: 0.7em 0;
  }
}
.sub-title {
  font-size: 16px;
  font-weight: bold;
  padding-top: 0.3em;
  padding-bottom: 0.25em;
  font-family: var(--font-header);
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tiny-text {
  font-size: 10px;
}

.per-gram {
  float: right;
}

.description {
  padding-left: 0.75em;
}

@media (min-width: 768px) {
  .resource-container {
    width: 550px;
  }
}
