.result-container {
  height: 360px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .results {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60px;
    width: 200px;
    align-self: center;
    justify-self: center;
    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .title {
    display: flex;
    justify-content: center;
    font-family: var(--font-header);
  }
}
.macros {
  justify-self: center;
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;

  .macro-grid {
    display: grid;
    grid-template-columns: 70px auto;
  }
}

.goal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  input {
    width: 230px;
    margin: 1.5em 0;
  }
}

.nums {
  font-weight: 900;
  font-size: 18px;
  margin-right: 5px;
}

.rec-cals {
  font-weight: 900;
  font-size: 18px;
  text-align: center;
}

@media (min-width: 768px) {
  .result-container {
    width: 480px;
  }
}
