.user-form-section {
  .user-form {
    width: 300px;
    // height: 500px;

    .user-selection {
      display: grid;
      grid-template-columns: auto 165px;

      .labels {
        margin-left: 5px;
      }
    }

    label {
      height: 75px;
      display: flex;
      align-items: center;
    }

    input {
      height: 30px;
      align-self: center;
      border-radius: 3px;
      border: none;
      outline: none;
      background: none;
      text-align: center;
      @include theme-aware("color", "color-text");
      &:hover {
        cursor: pointer;
        background-color: rgba($color: #000000, $alpha: 0.1);
      }
    }

    select {
      height: 30px;
      align-self: center;
      border: none;
      outline: none;
      background: none;
      @include theme-aware("color", "color-text");
      &:hover {
        cursor: pointer;
        background-color: rgba($color: #000000, $alpha: 0.1);
      }
    }

    .gender-select {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .radio-group {
        display: flex;
        align-items: center;
        justify-content: center;

        label {
          margin-left: 5px;
        }
      }
    }

    .submit-btn {
      width: 100%;
      // background-color: rgba($color: #000000, $alpha: 0.08);
      @include theme-aware("background-color", "btn");
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.1);
      }
    }
  }
}
