.user-form-section {
  border: 1px black solid;

  form {
    width: 300px;
    // height: 500px;
    display: grid;
    grid-template-columns: auto 200px;

    label {
      height: 50px;
      display: flex;
      align-items: center;
    }

    select {
      height: 40px;
    }

    .gender-select {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 50px;
      .radio-group {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
