@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
.intro-box {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.intro-box button {
  padding: 0.66em;
}

.start-btn {
  background: url("../assets/images/donut.png");
  height: 80px;
  width: 80px;
  margin-top: 1.6em;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 150ms linear;
  transition: 150ms linear;
}

.start-btn:hover {
  cursor: pointer;
  height: 85px;
  width: 90px;
}

.legend {
  font-size: 10.5px;
  margin-top: 3em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.legend p {
  margin: 0.4em 0;
}

@media (min-width: 768px) {
  .intro-box {
    width: 500px;
  }
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.command {
  border-radius: 3px;
  padding: 0 5px;
}

.theme-light .command {
  background-color: rgba(73, 80, 87, 0.4);
}

.theme-dark .command {
  background-color: rgba(105, 105, 105, 0.4);
}

.theme-monokai .command {
  background-color: rgba(253, 151, 31, 0.3);
}

.theme-dracula .command {
  background-color: rgba(189, 147, 249, 0.3);
}

.theme-soft-tone .command {
  background-color: rgba(159, 168, 163, 0.7);
}

.menu-modal {
  z-index: 5;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.menu-modal form {
  border-radius: 0.25em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px auto;
      grid-template-rows: 60px auto;
  overflow: auto;
  width: 400px;
  height: 300px;
}

.theme-light .menu-modal form {
  background-color: #fffff0;
}

.theme-dark .menu-modal form {
  background-color: #323437;
}

.theme-monokai .menu-modal form {
  background-color: #272822;
}

.theme-dracula .menu-modal form {
  background-color: #282a36;
}

.theme-soft-tone .menu-modal form {
  background-color: #c5d5cb;
}

.menu-modal form input {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  padding: 0 1em;
  line-height: 1em;
  font-size: 18px;
  font-family: var(--font-header);
  font-size: medium;
}

.theme-light .menu-modal form input {
  color: black;
}

.theme-dark .menu-modal form input {
  color: ivory;
}

.theme-monokai .menu-modal form input {
  color: #a6e22e;
}

.theme-dracula .menu-modal form input {
  color: #f8f8f2;
}

.theme-soft-tone .menu-modal form input {
  color: #5f5f5f;
}

.menu-modal form .selections {
  overflow-y: auto;
}

.menu-modal form .selections div {
  height: 20px;
  padding: 0 1em;
  margin: 0.2em 0;
  border: none;
}

.menu-modal form .selections div:hover {
  cursor: pointer;
}

.theme-light .menu-modal form .selections div:hover {
  background-color: #5b8b8b;
}

.theme-dark .menu-modal form .selections div:hover {
  background-color: darkviolet;
}

.theme-monokai .menu-modal form .selections div:hover {
  background-color: #f92672;
}

.theme-dracula .menu-modal form .selections div:hover {
  background-color: #6272a4;
}

.theme-soft-tone .menu-modal form .selections div:hover {
  background-color: #a8a79a;
}

.menu-modal form .selections div:focus {
  outline: none;
}

.theme-light .menu-modal form .selections div:focus {
  background-color: #5b8b8b;
}

.theme-dark .menu-modal form .selections div:focus {
  background-color: darkviolet;
}

.theme-monokai .menu-modal form .selections div:focus {
  background-color: #f92672;
}

.theme-dracula .menu-modal form .selections div:focus {
  background-color: #6272a4;
}

.theme-soft-tone .menu-modal form .selections div:focus {
  background-color: #a8a79a;
}

.user-form-section .user-form {
  width: 300px;
}

.user-form-section .user-form .user-selection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 165px;
      grid-template-columns: auto 165px;
}

.user-form-section .user-form .user-selection .labels {
  margin-left: 5px;
}

.user-form-section .user-form label {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-form-section .user-form input {
  height: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 3px;
  border: none;
  outline: none;
  background: none;
  text-align: center;
}

.theme-light .user-form-section .user-form input {
  color: black;
}

.theme-dark .user-form-section .user-form input {
  color: ivory;
}

.theme-monokai .user-form-section .user-form input {
  color: #a6e22e;
}

.theme-dracula .user-form-section .user-form input {
  color: #f8f8f2;
}

.theme-soft-tone .user-form-section .user-form input {
  color: #5f5f5f;
}

.user-form-section .user-form input:hover {
  cursor: pointer;
}

.theme-light .user-form-section .user-form input:hover {
  background-color: #fffff0;
}

.theme-dark .user-form-section .user-form input:hover {
  background-color: #323437;
}

.theme-monokai .user-form-section .user-form input:hover {
  background-color: #272822;
}

.theme-dracula .user-form-section .user-form input:hover {
  background-color: #282a36;
}

.theme-soft-tone .user-form-section .user-form input:hover {
  background-color: #c5d5cb;
}

.user-form-section .user-form input:focus {
  background: rgba(0, 0, 0, 0.1);
}

.user-form-section .user-form select {
  height: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  outline: none;
  background: none;
  overflow: hidden;
  padding: 5px 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.theme-light .user-form-section .user-form select {
  color: black;
}

.theme-dark .user-form-section .user-form select {
  color: ivory;
}

.theme-monokai .user-form-section .user-form select {
  color: #a6e22e;
}

.theme-dracula .user-form-section .user-form select {
  color: #f8f8f2;
}

.theme-soft-tone .user-form-section .user-form select {
  color: #5f5f5f;
}

.user-form-section .user-form select:hover {
  cursor: pointer;
}

.theme-light .user-form-section .user-form select:hover {
  background-color: #fffff0;
}

.theme-dark .user-form-section .user-form select:hover {
  background-color: #323437;
}

.theme-monokai .user-form-section .user-form select:hover {
  background-color: #272822;
}

.theme-dracula .user-form-section .user-form select:hover {
  background-color: #282a36;
}

.theme-soft-tone .user-form-section .user-form select:hover {
  background-color: #c5d5cb;
}

.user-form-section .user-form select:focus {
  background: rgba(0, 0, 0, 0.1);
}

.user-form-section .user-form .gender-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-form-section .user-form .gender-select .radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-form-section .user-form .gender-select .radio-group label {
  margin-left: 5px;
}

.user-form-section .user-form .submit-btn {
  width: 100%;
}

.theme-light .user-form-section .user-form .submit-btn {
  background-color: rgba(73, 80, 87, 0.4);
}

.theme-dark .user-form-section .user-form .submit-btn {
  background-color: rgba(105, 105, 105, 0.4);
}

.theme-monokai .user-form-section .user-form .submit-btn {
  background-color: rgba(253, 151, 31, 0.3);
}

.theme-dracula .user-form-section .user-form .submit-btn {
  background-color: rgba(189, 147, 249, 0.3);
}

.theme-soft-tone .user-form-section .user-form .submit-btn {
  background-color: rgba(159, 168, 163, 0.7);
}

.user-form-section .user-form .submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.user-form-section .user-form .submit-btn:focus {
  background: rgba(0, 0, 0, 0.1);
}

@media (min-height: 768px) {
  .user-form-section .user-form {
    width: 370px;
  }
  .user-form-section .user-form .user-selection {
    -ms-grid-columns: auto 225px;
        grid-template-columns: auto 225px;
  }
}

.result-container {
  height: 360px;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.result-container .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 60px;
  width: 200px;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.result-container .results div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.result-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.5em;
  margin-top: 1.3em;
}

.macros {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
}

.macros .macro-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px auto;
      grid-template-columns: 70px auto;
}

.goal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goal input {
  width: 230px;
  margin: 1.5em 0;
}

.nums {
  font-weight: 900;
  font-size: 18px;
  margin-right: 5px;
}

.rec-cals {
  font-weight: 900;
  font-size: 18px;
  text-align: center;
}

@media (min-width: 768px) {
  .result-container {
    width: 480px;
  }
}

.resource-container {
  width: 345px;
}

.resource-container h2 {
  padding: 0.7em 0;
}

.sub-title {
  font-size: 16px;
  font-weight: bold;
  padding-top: 0.3em;
  padding-bottom: 0.25em;
  font-family: var(--font-header);
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tiny-text {
  font-size: 10px;
}

.per-gram {
  float: right;
}

.description {
  padding-left: 0.75em;
}

@media (min-width: 768px) {
  .resource-container {
    width: 550px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  font-family: "Roboto Mono", monospace;
  --font-header: "Space Mono";
  font-size: 13px;
  line-height: 20px;
}

.theme-light body {
  background: #fffff0;
}

.theme-dark body {
  background: #323437;
}

.theme-monokai body {
  background: #272822;
}

.theme-dracula body {
  background: #282a36;
}

.theme-soft-tone body {
  background: #c5d5cb;
}

.theme-light body {
  color: black;
}

.theme-dark body {
  color: ivory;
}

.theme-monokai body {
  color: #a6e22e;
}

.theme-dracula body {
  color: #f8f8f2;
}

.theme-soft-tone body {
  color: #5f5f5f;
}

ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

ul li {
  margin-left: 1em;
}

ul li::before {
  content: "⌁ ";
  font-size: 14px;
  margin-bottom: 2px;
}

.grid-container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80px auto 160px;
      grid-template-rows: 80px auto 160px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 80px;
}

a {
  outline: none;
}

.theme-light a {
  color: black;
}

.theme-dark a {
  color: ivory;
}

.theme-monokai a {
  color: #a6e22e;
}

.theme-dracula a {
  color: #f8f8f2;
}

.theme-soft-tone a {
  color: #5f5f5f;
}

a:focus {
  background: rgba(0, 0, 0, 0.1);
}

button {
  padding: 5px 8px;
  border-radius: 2px;
  outline: none;
  border: none;
}

.theme-light button {
  background-color: rgba(73, 80, 87, 0.4);
}

.theme-dark button {
  background-color: rgba(105, 105, 105, 0.4);
}

.theme-monokai button {
  background-color: rgba(253, 151, 31, 0.3);
}

.theme-dracula button {
  background-color: rgba(189, 147, 249, 0.3);
}

.theme-soft-tone button {
  background-color: rgba(159, 168, 163, 0.7);
}

.theme-light button {
  color: black;
}

.theme-dark button {
  color: ivory;
}

.theme-monokai button {
  color: #a6e22e;
}

.theme-dracula button {
  color: #f8f8f2;
}

.theme-soft-tone button {
  color: #5f5f5f;
}

button:hover {
  cursor: pointer;
}

.theme-dark button:hover {
  background-color: darkslategray;
}

.theme-monokai button:hover {
  background-color: rgba(102, 217, 239, 0.3);
}

.theme-dracula button:hover {
  background-color: rgba(255, 121, 198, 0.6);
}

.theme-soft-tone button:hover {
  background-color: rgba(177, 174, 162, 0.6);
}

button:focus {
  background: rgba(0, 0, 0, 0.1);
}

.slider {
  --webkit-appearance: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  height: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.theme-light .slider {
  background: rgba(73, 80, 87, 0.4);
}

.theme-dark .slider {
  background: rgba(105, 105, 105, 0.4);
}

.theme-monokai .slider {
  background: rgba(253, 151, 31, 0.3);
}

.theme-dracula .slider {
  background: rgba(189, 147, 249, 0.3);
}

.theme-soft-tone .slider {
  background: rgba(159, 168, 163, 0.7);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.theme-light .slider::-webkit-slider-thumb {
  background: #5b8b8b;
}

.theme-dark .slider::-webkit-slider-thumb {
  background: darkviolet;
}

.theme-monokai .slider::-webkit-slider-thumb {
  background: #f92672;
}

.theme-dracula .slider::-webkit-slider-thumb {
  background: #6272a4;
}

.theme-soft-tone .slider::-webkit-slider-thumb {
  background: #a8a79a;
}

.theme-dark .slider::-webkit-slider-thumb:hover {
  background: darkslategray;
}

.theme-monokai .slider::-webkit-slider-thumb:hover {
  background: rgba(102, 217, 239, 0.3);
}

.theme-dracula .slider::-webkit-slider-thumb:hover {
  background: rgba(255, 121, 198, 0.6);
}

.theme-soft-tone .slider::-webkit-slider-thumb:hover {
  background: rgba(177, 174, 162, 0.6);
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.theme-light .slider::-moz-range-thumb {
  background: #5b8b8b;
}

.theme-dark .slider::-moz-range-thumb {
  background: darkviolet;
}

.theme-monokai .slider::-moz-range-thumb {
  background: #f92672;
}

.theme-dracula .slider::-moz-range-thumb {
  background: #6272a4;
}

.theme-soft-tone .slider::-moz-range-thumb {
  background: #a8a79a;
}

.theme-dark .slider::-moz-range-thumb:hover {
  background: darkslategray;
}

.theme-monokai .slider::-moz-range-thumb:hover {
  background: rgba(102, 217, 239, 0.3);
}

.theme-dracula .slider::-moz-range-thumb:hover {
  background: rgba(255, 121, 198, 0.6);
}

.theme-soft-tone .slider::-moz-range-thumb:hover {
  background: rgba(177, 174, 162, 0.6);
}

@media (min-width: 768px) {
  .main-content {
    width: 900px;
  }
}
/*# sourceMappingURL=main.css.map */