* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("../assets/images/chineseFood.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: ivory;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.91);
  z-index: -1;
}
