@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
.intro-box {
  width: 300px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.intro-box button {
  padding: 0.5em 1em;
}

.legend {
  font-size: 10px;
  margin-top: 1em;
}

.legend p {
  margin: 0.6em 0;
}

@media (min-width: 768px) {
  .intro-box {
    width: 500px;
  }
}

#footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1.5em;
}

.command {
  border-radius: 4px;
  padding: 0 4px;
}

.theme-light .command {
  background-color: rgba(73, 80, 87, 0.4);
}

.theme-dark .command {
  background-color: rgba(105, 105, 105, 0.4);
}

.theme-monokai .command {
  background-color: rgba(253, 151, 31, 0.3);
}

.theme-dracula .command {
  background-color: rgba(189, 147, 249, 0.3);
}

.menu-modal {
  z-index: 5;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.menu-modal form {
  border-radius: 0.25em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px auto;
      grid-template-rows: 60px auto;
  overflow: auto;
  width: 400px;
  height: 250px;
}

.theme-light .menu-modal form {
  background-color: #adb5bd;
}

.theme-dark .menu-modal form {
  background-color: darkslategray;
}

.theme-monokai .menu-modal form {
  background-color: #272822;
}

.theme-dracula .menu-modal form {
  background-color: #44475a;
}

.menu-modal form input {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  padding: 0 1em;
  line-height: 1em;
  font-size: 18px;
  font-family: var(--font-header);
  font-size: medium;
}

.theme-light .menu-modal form input {
  color: black;
}

.theme-dark .menu-modal form input {
  color: ivory;
}

.theme-monokai .menu-modal form input {
  color: #a6e22e;
}

.theme-dracula .menu-modal form input {
  color: #f8f8f2;
}

.menu-modal form .selections {
  overflow-y: auto;
}

.menu-modal form .selections div {
  height: 20px;
  padding: 0 1em;
  margin: 0.2em 0;
  border: none;
}

.menu-modal form .selections div:hover {
  cursor: pointer;
}

.theme-light .menu-modal form .selections div:hover {
  background-color: darkslategray;
}

.theme-dark .menu-modal form .selections div:hover {
  background-color: darkviolet;
}

.theme-monokai .menu-modal form .selections div:hover {
  background-color: #f92672;
}

.theme-dracula .menu-modal form .selections div:hover {
  background-color: #6272a4;
}

.menu-modal form .selections div:focus {
  outline: none;
}

.theme-light .menu-modal form .selections div:focus {
  background-color: darkslategray;
}

.theme-dark .menu-modal form .selections div:focus {
  background-color: darkviolet;
}

.theme-monokai .menu-modal form .selections div:focus {
  background-color: #f92672;
}

.theme-dracula .menu-modal form .selections div:focus {
  background-color: #6272a4;
}

.user-form-section form {
  width: 300px;
}

.user-form-section form .selection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 165px;
      grid-template-columns: auto 165px;
}

.user-form-section form .selection .labels {
  margin-left: 5px;
}

.user-form-section form label {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-form-section form input {
  height: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 3px;
  border: none;
  outline: none;
  background: none;
  text-align: center;
}

.theme-light .user-form-section form input {
  color: black;
}

.theme-dark .user-form-section form input {
  color: ivory;
}

.theme-monokai .user-form-section form input {
  color: #a6e22e;
}

.theme-dracula .user-form-section form input {
  color: #f8f8f2;
}

.user-form-section form input:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.user-form-section form select {
  height: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  outline: none;
  background: none;
}

.theme-light .user-form-section form select {
  color: black;
}

.theme-dark .user-form-section form select {
  color: ivory;
}

.theme-monokai .user-form-section form select {
  color: #a6e22e;
}

.theme-dracula .user-form-section form select {
  color: #f8f8f2;
}

.user-form-section form select:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.user-form-section form .gender-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-form-section form .gender-select .radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-form-section form .gender-select .radio-group label {
  margin-left: 5px;
}

.user-form-section form .submit-btn {
  width: 100%;
}

.theme-light .user-form-section form .submit-btn {
  background-color: rgba(73, 80, 87, 0.4);
}

.theme-dark .user-form-section form .submit-btn {
  background-color: rgba(105, 105, 105, 0.4);
}

.theme-monokai .user-form-section form .submit-btn {
  background-color: rgba(253, 151, 31, 0.3);
}

.theme-dracula .user-form-section form .submit-btn {
  background-color: rgba(189, 147, 249, 0.3);
}

.user-form-section form .submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.result-container {
  height: 360px;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.result-container .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 60px;
  width: 200px;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.result-container .results div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.result-container .results .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.macros {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.macros .macro-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px auto;
      grid-template-columns: 70px auto;
}

.goal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goal input {
  width: 230px;
  padding: 1em 0;
}

.nums {
  font-weight: 900;
  font-size: 18px;
  margin-right: 5px;
}

.rec-cals {
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  padding: 0.5em 0;
}

@media (min-width: 768px) {
  .result-container {
    width: 480px;
  }
}

.info-container {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tiny-text {
  font-size: 10px;
}

.per-gram {
  float: right;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  font-family: "Roboto Mono", monospace;
  --font-header: "Space Mono";
  font-size: 13px;
  line-height: 20px;
}

.theme-light body {
  background: #fffff0;
}

.theme-dark body {
  background: #323437;
}

.theme-monokai body {
  background: #272822;
}

.theme-dracula body {
  background: #282a36;
}

.theme-light body {
  color: black;
}

.theme-dark body {
  color: ivory;
}

.theme-monokai body {
  color: #a6e22e;
}

.theme-dracula body {
  color: #f8f8f2;
}

ul {
  list-style: none;
}

ul li {
  margin-left: 1em;
}

ul li::before {
  content: "⌁ ";
  font-size: 14px;
  margin-bottom: 2px;
}

.grid-container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80px auto 120px;
      grid-template-rows: 80px auto 120px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-light a {
  color: black;
}

.theme-dark a {
  color: ivory;
}

.theme-monokai a {
  color: #a6e22e;
}

.theme-dracula a {
  color: #f8f8f2;
}

button {
  padding: 5px 8px;
  border-radius: 2px;
  margin: 0 1em;
  outline: none;
  border: none;
}

.theme-light button {
  background-color: rgba(73, 80, 87, 0.4);
}

.theme-dark button {
  background-color: rgba(105, 105, 105, 0.4);
}

.theme-monokai button {
  background-color: rgba(253, 151, 31, 0.3);
}

.theme-dracula button {
  background-color: rgba(189, 147, 249, 0.3);
}

.theme-light button {
  color: black;
}

.theme-dark button {
  color: ivory;
}

.theme-monokai button {
  color: #a6e22e;
}

.theme-dracula button {
  color: #f8f8f2;
}

button:hover {
  cursor: pointer;
}

.theme-light button:hover {
  background-color: darkslategray;
}

.theme-dark button:hover {
  background-color: darkslategray;
}

.theme-monokai button:hover {
  background-color: rgba(253, 151, 31, 0.6);
}

.theme-dracula button:hover {
  background-color: rgba(255, 121, 198, 0.6);
}

@media (min-width: 768px) {
  .main-content {
    width: 900px;
  }
}
/*# sourceMappingURL=main.css.map */