@import "./intro";
@import "./footer";
@import "./modal";

@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  --text-color: ivory;
  font-family: "Roboto Mono", monospace;
  // background: url("../assets/images/cookiesOranges.jpg");
  // background: url("../assets/images/chineseFood.jpg");
  background: #323437;
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color);

  --font-header: "Space Mono";
  font-size: 13px;
}

.grid-container {
  border: 1px black solid;
  height: 100vh;
  width: 1200px;
  display: grid;
  grid-template-rows: 80px auto 100px;
  justify-content: space-evenly;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  // border: 1px red solid;
  display: flex;
  // justify-content: center;
}

h1 {
  font-family: var(--font-header);
}

a {
  color: var(--text-color);
}
