@import "./color-palette";
@import "./mixins";
@import "./intro";
@import "./footer";
@import "./modal";
@import "./userForm";
@import "./result";
@import "./resource";

@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Roboto Mono", monospace;
  --font-header: "Space Mono";
  font-size: 13px;
  line-height: 20px;
  @include theme-aware("background", "color-background");
  @include theme-aware("color", "color-text");
}

ul {
  list-style: none;
  li {
    margin-left: 1em;
  }
  li::before {
    content: "âŒ ";
    font-size: 14px;
    margin-bottom: 2px;
    // color: ${({ theme }) => theme.accent};
  }
}

.grid-container {
  // border: 1px black solid;
  height: 100vh;
  // max-width: 1200px;
  display: grid;
  grid-template-rows: 80px auto 120px;
  justify-content: space-evenly;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  // border: 1px red solid;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  // padding: 5em;
  // place-items: center;
  // width: 900px;
  // line-height: 20px;

  // justify-content: center;
}

// h1 {
//   font-family: var(--font-header);
// }

a {
  @include theme-aware("color", "color-text");
}

button {
  @include theme-aware("background-color", "btn");
  @include theme-aware("color", "color-text");
  padding: 5px 8px;
  border-radius: 2px;
  margin: 0 1em;
  outline: none;
  border: none;
  &:hover {
    @include theme-aware("background-color", "btn-hover");
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .main-content {
    width: 900px;
  }
}
