@import "./color-palette";
@import "./mixins";
@import "./intro";
@import "./footer";
@import "./modal";
@import "./userForm";
@import "./result";
@import "./resource";

@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Roboto Mono", monospace;
  --font-header: "Space Mono";
  font-size: 13px;
  line-height: 20px;
  @include theme-aware("background", "color-background");
  @include theme-aware("color", "color-text");
}

ul {
  list-style: none;
  li {
    margin-left: 1em;
  }
  li::before {
    content: "⌁ ";
    font-size: 14px;
    margin-bottom: 2px;
  }
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px auto 120px;
  justify-content: space-evenly;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  @include theme-aware("color", "color-text");
}

button {
  @include theme-aware("background-color", "btn");
  @include theme-aware("color", "color-text");
  padding: 5px 8px;
  border-radius: 2px;
  outline: none;
  border: none;
  &:hover {
    @include theme-aware("background-color", "btn-hover");
    cursor: pointer;
  }
}

.slider {
  --webkit-appearance: none;
  appearance: none;
  outline: none;
  @include theme-aware("background", "btn");
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  height: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  @include theme-aware("background", "cmd-hover");
  cursor: pointer;
  &:hover {
    @include theme-aware("background", "btn-hover");
  }
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  @include theme-aware("background", "cmd-hover");
  cursor: pointer;
  &:hover {
    @include theme-aware("background", "btn-hover");
  }
}

@media (min-width: 768px) {
  .main-content {
    width: 900px;
  }
}
