@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
.intro-box {
  border-radius: 2px;
  width: 500px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.intro-box button {
  background-color: dimgrey;
  padding: 5px 8px;
  border-radius: 2px;
  margin: 0 1em;
  outline: none;
  border: none;
}

.intro-box button:hover {
  background-color: darkslategray;
  cursor: pointer;
}

#footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.command {
  border-radius: 4px;
  padding: 0 4px;
  background-color: rgba(128, 128, 128, 0.4);
}

.menu-modal {
  z-index: 5;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.menu-modal form {
  background-color: darkslategray;
  border-radius: 0.25em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px auto;
      grid-template-rows: 60px auto;
  overflow: auto;
  width: 500px;
  height: 300px;
}

.menu-modal form input {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  padding: 0 1em;
  line-height: 1em;
  font-size: 18px;
}

.menu-modal form .selections {
  overflow-y: auto;
}

.menu-modal form .selections div {
  height: 20px;
  padding: 0 1em;
  margin: 0.2em 0;
}

.menu-modal form .selections div:hover {
  cursor: pointer;
  background-color: darkviolet;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  --text-color: ivory;
  font-family: "Roboto Mono", monospace;
  background: #323437;
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color);
  --font-header: "Space Mono";
  font-size: 13px;
  line-height: 20px;
}

.grid-container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80px auto 120px;
      grid-template-rows: 80px auto 120px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content {
  border: 1px red solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 900px;
}

a {
  color: var(--text-color);
}
/*# sourceMappingURL=main.css.map */